body{
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
}
#topNavbar{
    background-color: #F1959C;
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}

#smallNavBar{
    display: none;
}

#headwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* .hook-content-box{
    margin-right: 200px;
    margin-left: 200px;
} */

.big-bottle{
    max-width: 100%;
    height:auto;
}

.product-bottle {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}


/* #heroWrap{
    display: flex;
    
} */
.hook {
    font-size: 18pt;
}


#SignUpButton{
    background-color: #F1959C !important;
}

.btn-primary {
    background-color: #E76565!important;
}

.btn-outline-secondary {
    color: black!important;
    border: 2px solid #A3A1A0!important;
    border-radius: 30px;
}

.products {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.client-quotes {
    color: #A3A1A0;
    text-align: center;
    background-color:#FFF1F1;
    padding: 30px 15%;
}

.client {
    margin: 20px;
    text-align: left;
}

.client-image {
    max-width: 100%;
    height: auto
}

.learn-more {
    color: #A3A1A0;
    text-decoration: underline;
    text-align:center;
}

footer {
    text-align: center;
    background-color: #F1959C;
    bottom: 0;
    color: white;
    padding-bottom: 10em;
    padding-top: 30px;
}

footer h4 {
    color: black;
    margin: 15px 0;
}

footer p, small{
    margin: 0;
    line-height: 10pt;
}

#as-seen-in {
    max-width: 70%;
    height: auto;
}

.signup-bottom {
    margin-top: 10px;
}

#sign-up-bottom {
    padding:0
}

.social {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 5%;
    height:auto;
}

#disclaimer {
    padding-left: 9em;
    padding-right: 9em;
    text-align: justify;
}

#logo{
    height: auto;
    max-width: 50%;
}

#SignUpHook{
    margin-bottom: auto;
}


#featured{
    text-align: center;
    margin-top: 30px;
}

#navbar-font{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.nav-item{
    margin:0 8px;
}

#cartImg{
    width: 34px;
    height:34px;
}

#navList{
    flex-direction: row;
}

#navForm{
    margin:0;
}

a{
    color: black;
}



@media (max-width: 760px){
    .hook{
        font-size: 12pt;
    }
}


@media (max-width: 700px) {
    .hook{
        font-size: 12pt;
    }
    /* .big-bottle{
        margin-top: 30px;
        max-width: 80%
    } */
    .client-quotes {
        padding-left:0;
        padding-right:0;
    }
    
    #disclaimer {
        padding-left: 4em;
        padding-right: 4em;
    }
    
    #menu{
        display:none;
    }
    
    #smallNavBar{
        display:flex;
    }

}

@media only screen and (max-width:600px){
    #menu{
        display:none;
    }

    #smallNavBar{
        display:flex;
    }

    #navlogo{
        display: none;
    }
    #navList{
        flex-direction: row;
    }
}


    .product-bottle{
        max-width: 80%;
    }
    
}
@media (max-width: 540px) {
    .btn{
        padding: 5px;
    }
    .btn.btn-block {
        margin: auto;
        width: 80%;
    }
    .hook{
        font-size: 10pt;
    }
    .client-quotes .container {
        padding:0;
    }

    .client-quotes .container .col-6 {
        padding-left: 0
    }

    #as-seen-in {
        max-width: 90%;
    }

    .social{
        max-width: 10%;
    }
    
    #disclaimer {
        padding-left: 30px;
        padding-right: 30px;
    }

    #logo{
        max-width: 70%;
    }

    #topNavbar{
        display: block;
    }

    #logoSlogan{
        font-size: 25px;
    }

    #SignUpHook{
        max-height: 120px;
    }

    #products{
        display: flex;
        flex-direction: column;
    }

    /* #navForm{
        width: 300px;
        margin: 0;
    } */

}
